@import url("https://fonts.googleapis.com/css2?family=Inter");

:root {
  --color-grey: #999;
  --dark-grey: #1e1e1e;
  --background-color: white;
  --even-lighter-grey: #f5f5f5;
  --light-grey: #eaeaea;
  --darker-light-grey: #e4edfd;
  --off-white: #fbfbfb;
  --color-blue: #3369f3;
  --hover-blue: #0056b3;
  --light-blue: #e4edfd;
  --primary-text-color: var(--dark-grey);
  --secondary-text-color: var(--color-grey);
  --message-bg: #f8f8f8;
  --input-bg: #efefef;
  --border-color: var(--light-grey);
  --border-blue: var(--color-blue);
  --danger-color: #f00;
  --link-color: var(--color-blue);
  --button-color: var(--color-blue);
  --button-hover: var(--hover-blue);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--primary-text-color);
}
