.chat-window-wrapper .chat-menu{
	width: 28px;
	height: 28px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='3' height='16' viewBox='0 0 3 16' fill='none'%3e%3ccircle cx='1.5' cy='2' r='1.5' fill='%231E1E1E'/%3e%3ccircle cx='1.5' cy='8' r='1.5' fill='%231E1E1E'/%3e%3ccircle cx='1.5' cy='14' r='1.5' fill='%231E1E1E'/%3e%3c/svg%3e");	
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	border:none;
	float: right;
	cursor: pointer;
}

.profile-image {
	width: 34px;
	height: 34px;
	flex-shrink: 0;
	border-radius: 50%;
	margin-right: 10px;
	background-color: var(--light-grey-color);
}

.chat-window-wrapper .chat-header {
	display: flex;
	align-items: center;
	padding-bottom: 12px;
	border-top: none;
	padding-top:0;
	border-bottom: 1px solid var(--border-color);
	width: 100%;
}

.chat-window-wrapper .user-profile{
	width:100%;
	display: flex;
	align-items: center;
}

.chat-window-wrapper h3 {
	margin: 0;
	margin-bottom: 4px;
	color: var(--primary-text-color);
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
}
