label {
	text-align: left;
	color: #999;
	font-size: 9px;
	line-height: 9px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	height:54px;
}

small{
	margin-top: 7px;
	color: var(--danger-color);
	font-size: 8px;
	line-height: 8px;
}

input {
	padding: 0;
	border-style: none;
	border-bottom: 1px solid var(--border-blue);
	color: var(--primary-text-color);
	font-size: 13px;
	line-height: 13px;
	height: 28px;
}

.error{
	display: none;
}

input:focus:valid + .error,
input:not(:focus):valid + .error {
	display: none;
}

input:focus:invalid + .error,
input:not(:focus):invalid + .error  {
	display: block;
}
