/* stylelint-disable no-descending-specificity */
.chat-window-wrapper {
  display: flex;
  height: 100vh;
}

.chat-window-wrapper .chatlist {
  width: 30%;
  min-width: 220px;
  background-color: var(--off-white);
  padding: 0 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.chat-window-wrapper .link {
  width: fit-content;
  align-self: flex-end;
}

.chat-window-wrapper .link a.goto-profile {
  float: right;
  font-size: 12px;
  line-height: 100%;
  margin: 21px auto 23px;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.chat-window-wrapper a.goto-profile img.icon {
  width: 6px;
  height: 10px;
  vertical-align: middle;
  border: none;
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none"><path d="M1 9L5 5L1 1" stroke="%23999999"/></svg>');
  mask-repeat: no-repeat;
  background-color: var(--secondary-text-color);
  margin-left: 4px;
}

.chat-window-wrapper a.goto-profile:hover img.icon {
  background-color: var(--hover-blue);
}

.chat-window-wrapper a.goto-profile:hover {
  color: var(--hover-blue);
}

.chat-window-wrapper .goto-profile svg {
  vertical-align: middle;
  margin-left: 8px;
  margin-top: -1px;
}

.chat-window-wrapper .chat-window {
  width: 70%;
  flex-grow: 1;
  padding: 0 20px;
  border-left: 1px solid var(--border-color);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-window-wrapper .message-input-block {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 54px;
  border-top: 1px solid var(--border-color);
  background-color: var(--background-color);
  align-items: center;
  gap: 10px;
}

.chat-window-wrapper .message-input-bar {
  bottom: 0;
  width: 100%;
  padding: 11px 0;
}

.chat-window-wrapper .message-input-bar input {
  width: 100%;
  height: 32px;
  background-color: var(--input-bg);
  border-radius: 50px;
  border: none;
  box-sizing: border-box;
  color: var(--secondary-text-color);
  padding-left: 20px;
}

.chat-window-wrapper .message-input-bar input:focus {
  color: var(--primary-text-color);
  outline-color: var(--color-blue);
}

input[type="search"] {
  width: 100%;
  height: 32px;
  background-color: var(--input-bg);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.5924 11.4138C10.1605 12.8457 7.83886 12.8457 6.40694 11.4138C4.97502 9.98187 4.97502 7.66027 6.40694 6.22834C7.83886 4.79642 10.1605 4.79642 11.5924 6.22834C13.0243 7.66027 13.0243 9.98187 11.5924 11.4138ZM12.0328 12.7968C10.0725 14.2961 7.25696 14.1494 5.46413 12.3566C3.51151 10.404 3.51151 7.23816 5.46413 5.28553C7.41675 3.33291 10.5826 3.33291 12.5352 5.28553C14.3279 7.07828 14.4747 9.8937 12.9755 11.8539L16.5423 15.4206L15.5994 16.3634L12.0328 12.7968Z" fill="%23999999"/></svg>');
  background-repeat: no-repeat;
  background-position: 10px, center;
  border-radius: 5px;
  border: none;
  box-sizing: border-box;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 12px;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}

input[type="search"]:focus {
  color: var(--primary-text-color);
  outline-color: var(--color-blue);
  text-align: left;
  padding-left: 34px;
}

.chat-window-wrapper .message-attach-media {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.18662 13.5L14.7628 5.92389L15.7056 6.8667L8.12943 14.4428L7.18662 13.5Z" fill="%23999999"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.70067 16.0141L17.2768 8.43793L18.2196 9.38074L10.6435 16.9569L9.70067 16.0141Z" fill="%23999999"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.0433 21.3567L22.6195 13.7806L23.5623 14.7234L15.9861 22.2995L15.0433 21.3567Z" fill="%23999999"/><path fill-rule="evenodd" clip-rule="evenodd" d="M17.5574 23.8708L25.1335 16.2946L26.0763 17.2374L18.5002 24.8136L17.5574 23.8708Z" fill="%23999999"/><path fill-rule="evenodd" clip-rule="evenodd" d="M17.5574 23.8709C14.9423 26.486 10.7118 26.4954 8.10831 23.8919C5.50482 21.2884 5.51424 17.0579 8.12936 14.4428L7.18655 13.5C4.0484 16.6381 4.0371 21.7148 7.16129 24.839C10.2855 27.9632 15.3621 27.9518 18.5003 24.8137L17.5574 23.8709Z" fill="%23999999"/><path fill-rule="evenodd" clip-rule="evenodd" d="M22.6195 13.7806L23.5623 14.7234C26.003 12.2826 26.0118 8.3341 23.5819 5.90417C21.152 3.47424 17.2035 3.48303 14.7627 5.92381L15.7055 6.86662C17.6233 4.94887 20.7257 4.94196 22.6349 6.85119C24.5441 8.76042 24.5372 11.8628 22.6195 13.7806Z" fill="%23999999"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.70092 16.0144C7.95751 17.7578 7.95123 20.5782 9.68689 22.3138C11.4226 24.0495 14.2429 24.0432 15.9863 22.2998L15.0435 21.357C13.8231 22.5774 11.8489 22.5818 10.6339 21.3668C9.41894 20.1518 9.42334 18.1776 10.6437 16.9572L9.70092 16.0144Z" fill="%23999999"/></svg>');
  background-color: var(--color-grey);
  cursor: pointer;
}

.chat-window-wrapper .message-attach-media:hover {
  background-color: var(--color-blue);
}

.chat-window-wrapper .message-send-button {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  background-color: var(--color-blue);
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M28 14C28 21.732 21.7319 28 14 28C6.26807 28 0 21.732 0 14C0 6.26801 6.26807 0 14 0C21.7319 0 28 6.26801 28 14ZM17.3356 14.7999L14.3752 18.5002L15.6248 19.4998L19.6248 14.4998L20.0245 14L19.6248 13.5002L15.6248 8.50024L14.3752 9.49976L17.3354 13.2H8V14.7999H17.3356Z" fill="%233369F3"/></svg>');
}

.chat-window-wrapper .message-send-button:hover {
  background-color: var(--hover-blue);
}

.chat-window-wrapper .chatlist-header {
  margin-bottom: 12px;
}

.chat-window-wrapper .modal #upload-chat-avatar {
  visibility: hidden;
}

.chat-window-wrapper label:has(#upload-chat-avatar) {
  color: var(--color-blue);
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: underline;
  cursor: pointer;
}
